:root {
    --scale: .9;
    --transformScale: 1.2;
}
#mapBox {
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 400px;
    min-width: 320px;
    min-height: 320px;
    margin: 0 auto;
    border-style: solid;
    border-width: 1px;
    border-color: #000;
    position: relative;
}
.mapImage {
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 400px;
    min-width: 320px;
    min-height: 320px; 
    z-index: 0;
}
.mapRegion {
    transition: all .2s ease-in-out;
    float: left;
    scale: var(--scale);
    position: absolute;
}
.mapHotspot {
    float: left;
    position: absolute;
    opacity: 0;
}
.sefton {
    left: 18%;
}
.liverpool {
    left: 31%;
    top: 48.5%;
}

.knowsley {
    left: 41.5%;
    top: 42.5%;
    z-index: 1;
}

.sthelens {
    left: 52.5%;
    top: 37%;
}

.wirral {
    left: 3.7%;
    top: 57%;
}
.wirralHotspot {
    left: 15%;
    top: 70%;
    width: 50px;
    height: 50px;
    z-index: 5;
}

.sefton:hover, .liverpool:hover, .knowsley:hover, .sthelens:hover {
    transition: all .2s ease-in-out;
    transform: scale(var(--transformScale));
    filter: drop-shadow(2px 2px 2px #000);
    z-index: 3;
}

.sefton:focus, .liverpool:focus, .knowsley:focus, .sthelens:focus, .wirral:focus {
    background-color: transparent;
}

.liverpool:hover {
    transform: scale(var(--transformScale)) rotate(-56deg);
    filter: drop-shadow(-2px 2px 2px #000);
}

.knowsley:hover {
    transform: scale(var(--transformScale)) rotate(-62deg);
    filter: drop-shadow(-2px 2px 2px #000);
}

.sthelens:hover {
    filter: drop-shadow(-2px 2px 2px #000);
}

.exploded {
    transition: all .2s ease-in-out;
    transform: scale(var(--transformScale));
    filter: drop-shadow(2px 2px 2px #000);
    z-index: 3; 
}